#root{
  text-align: center;
}
.box, .list-item {
  background-color: #fafafa;
  border: 0px solid #222;
  margin-top: 40px;
  font-size: 20px !important;
  
}

.list-item span{
  color: #027cca;
  font-weight: bold;
  font-size: 35px;
}
.h1, h1 {
  font-size: 2.5rem;
  color: rgb(228, 77, 77);

}

.balance {
  padding: 12px;
  font-size: 20px;
  background: rgb(228, 77, 77);
  color: #fff;
  border-radius: 7px;
}

.blance-div{
  height: 70px;
  padding: 50px;
}

.list-item{
  padding: 10px;
  border-radius: 4px;
}

.shares-btn {
  bottom: 10%;
  padding: 10px;
  border-radius: 4px;
  position: fixed;
  right: 65px !important;
  /* top: 10%; */
  background-color: #027CCA !important;
    border: 0px solid #222;
    margin-top: 40px;
    font-size: 15px !important;
    color: #fff;
    width: 15%;
    border: 0px solid #222;
    margin-top: 40px;
    font-size: 20px !important;
    padding: 10px;
    border-radius: 4px;
    
}

.shares-btn:hover{
  color: #027cca;
  background: #fff;
  text-decoration: none !important;
}

.shares-page{
  
  padding: 50px;
  display: flex;
  justify-content: center;
}
.shares-box{
  background-color: #fff;
  width: 60%;
  padding: 50px;
 border-top-left-radius: 5px;
border-top: 2px solid #027cca;
border-top-right-radius: 5px;
}

.shares-box h4{
  font-size: 30px !important;
  text-transform: uppercase;
}

.shares-box {
  background-color: #fff;
  width: 36%;
  padding: 50px;
  border-top-left-radius: 11px;
  border-top: 3px solid #027cca;
  border-top-right-radius: 5px;
  border-radius: 5px;
}

.shares-box p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 23px;
}
